@(checkFlag:String)
@main("Information"){
	<div class="container">
		<h2 class="text-center">The information of employees</h2>
		<form role="form form-honizontal">
			<div class="form-group">
				<table class="table">
					<thead>
						<tr>
							<th>Account</th>
							<th>Address</th>
							<th>Old</th>
							<th>Sex</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>nothing</td>
							<td>nothing</td>
							<td>nothing</td>
							<td>nothing</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="form-group col-sm-12">
				<div class="col-sm-2">
					<input class="form-control btn-primary" type="submit" value="New Employee">
				</div>
				<div class="col-sm-2">
					<input class="form-control btn-danger" type="submit" value="Delete Employee">
				</div>
			</div>
		</form>
	</div>
}