@(account:String,info:Map[String,String])
@main("Information"){
	<div class="container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Information</a>
				</div>
				<div>
					<ul class="nav navbar-nav navbar-right">
        				<li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
     				 </ul>
				</div>
			</div>
		</nav>
		<h2 class="text-center">The information of employees</h2>
		<form role="form form-honizontal" method="post" action="edit">
			<div class="form-group">
				<table class="table">
					<thead>
						<tr>
							<th>Account</th>
							<th>Address</th>
							<th>Age</th>
							<th>Sex</th>
							<th>Subject</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@account</td>
							<td>@info.get("address")</td>
							<td>@info.get("birthday")</td>
							<td>@info.get("sex")</td>
							<td>@info.get("subject")</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-4"></div>
			<div class="form-group col-sm-4">
				<div class="col-sm-6">
					<input class="form-control btn-primary" type="submit" value="Edit Information">
				</div>
			</div>
			<div class="col-sm-4"></div>
		</form>
	</div>
}