@(size:String,subject:List[String])
@main("Sign Up"){
<div class="container">
	<h2 class="text-center">The information of employees</h2>
	<div class="col-sm-2"></div>
	<div class="col-sm-10">
		<form class="form-horizontal" role="form" id="signup" method="post" action="signup">
			<div class="form-group">
				<label class="control-label col-sm-2" for="accountLabel">Account</label>
				<div class="col-sm-4">
					<input class="form-control" name="account" id="account" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="addressLabel">Address</label>
				<div class="col-sm-4">
					<input class="form-control " name="address" id="address" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="oldLabel">Birth
					of day</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input class="form-control birthDay" type="text" id="birthDay" name = "birthDay"> 
						<label
							class="control-label input-group-addon btn " for="birthDay">
							<span class="glyphicon glyphicon-calendar"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sexLabel">Sex</label>
				<div class="col-sm-4">
					<label class="radio-inline"><input type="radio" name="sexOption" checked="checked">Male</label> 
					<label class="radio-inline"><input type="radio" name="sexOption">Female</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="subjectLabel">Subject</label>
				<div class="col-sm-2">
					<select class="form-control" id="subject" name="subject">
						@for(sub<-subject){
						<option>@sub</option>
						
						}
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 col-sm-offset-2">
					<input class="form-control btn-primary col-sm-offset-2"
						type="submit" value="Sign Up" id="btnSm">
				</div>
				<div class="col-sm-2">
					<input class="form-control btn-danger col-sm-offset-2" type="reset"
						value="Cancel">
				</div>
			</div>
		</form>
	</div>
</div>
}
